// 文章目录颜色设置
:deep(.md-editor-catalog-link > span) {
  color: var(--menu-text-color);
}

:deep(.md-editor-catalog-link > span:hover) {
  color: var(--menu-text-active-color);
  font-weight: 800;
}

:deep(.md-editor-catalog-active > span) {
  color: var(--menu-text-active-color);
  font-weight: 800;
}