.el-upload--picture-card {
  width: 100px;
  height: 100px;
}

.el-upload-list__item {
  width: 100px;
  height: 100px;
  margin: 0;
  border: none;
}

.el-upload-list--picture-card {
  display: flex;
}
