// 全局样式设置文件
.light{
    --header-background-color:rgba(255, 255, 255, 0.74);
    --home-background-color: linear-gradient(120deg, #d5d8d8, #cfe5ea, #e4d1ec, #d1e0f5, #e8e8c5, #f1f1e2);
    --image-filter: brightness(1);
    --text-color:#000000b0;
    --skeleton-background-color: #acacac77;
    --el-card--background-color: #f0fdffa1;
    --scrollbar-color: rgb(32, 160, 211);
    --background-image: url('@/assets/img/bg1.jpg');
}
.dark{
    --header-background-color: rgba(0, 0, 0, 0.678);
    --home-background-color: linear-gradient(90deg, #413939 1%, #483e48 10.2%, #4b4552 19.6%, #3a3a45 36.8%, #364040 62.2%, #3b4146 88.9%, #4a4242 99%) ;
    --image-filter: brightness(0.5);
    --text-color:#b9b9b9;
    --skeleton-background-color:#44444486;
    --el-card--background-color: #1b1b1b2f;
    --scrollbar-color: rgb(32, 65, 79);
    --background-image: url('@/assets/img/bg3.jpg');
}
// 全局变量
:root{
    --color-1:skyblue;
}